@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

body{
    user-select: none;
    font-family: 'Space Mono', monospace;
    background-color: #122329;
    color: #40a2c9;
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-columns: 100%;
}

.clickable{
    cursor: pointer;
    transition: 0.5s;
}

.clickable:hover{
    background-color: #40a2c9;
    color: black;
}