@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

body{
    font-family: 'Space Mono', monospace;
    background-color: white;
    color: rgb(64, 162, 201);
    display: flex;
    justify-content: center;
}

