@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    padding: 20px;
    user-select: none;
    font-family: 'Space Mono', monospace;
    background-color: #122329;
    color: #40a2c9;
    display: grid;
    height: 100vh;
    max-height: 100vh;
    justify-content: center;
    text-align: center;
    grid-template-columns: 100%;
}

main{
    font-weight: bold;
    font-size: 28pt;
}

footer{
    align-self: flex-end;
    text-align: right;
}

.clickable{
    cursor: pointer;
    transition: 0.5s;
}

.clickable:hover{
    background-color: #40a2c9;
    color: black;
}